*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

html body {
    background-image: url(img/lucas.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: -600px;
    font-family: sans-serif;
    font-size: 1em;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    flex-wrap: wrap;
    flex: 1 1 800px;
    height: 100%;
    position: relative;
}





body header #navprincipal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 140px;
    width: 900px;
    flex-wrap: wrap;
    top: -240px;
}

body header #navprincipal ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 900px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


header #navprincipal .menu2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 210px;
    margin: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}

header #navprincipal .menu2 a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 210px;
    text-decoration: none;
    color: #e0e0f8;
    text-shadow: 0 0 3px rgba(33,33,33,1);
    font-size: 14px;
    justify-content: center;
    align-items: center;
    padding: 26px 5px;
    font-weight: bold;
    transition: 0.6s;
}

header #navprincipal .menu2 a:hover {
    background-color: aliceblue;
    border-bottom: 4px solid #003437;
    color: #003437;
    text-shadow: none;

}

header #navprincipal .menu2 a:active {
    background-color: white;
    color: rgba(18, 63, 18, 1.0);

}

header #navprincipal #botinicio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 75px;
    margin: 0px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}

header #navprincipal #botinicio a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 75px;
    text-decoration: none;
    color: #003437;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 26px 5px;
    font-weight: bold;
    border-bottom: 4px solid #003437;
}


/* TAG SEMANTICA QUE ENGLOBA TODOS OS CAMPOS DO MENU */
html body #caixatitulo {
    padding-left: 30px;
    max-height: 135.22px;
    max-width: 800.125px;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

#caixatitulo #caixainicio {
    width: 541px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 56px;
    font-family: sans-serif;
    color: #e0e0f8;
    text-shadow: 0 0 1px rgba(33,33,33,1);
    font-weight: bold;
    padding-bottom: 15px;
}

#caixatitulo #caixadescricao {
    width: 700px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 34px;
    font-family: sans-serif;
    color: #e0e0f8;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    background-color: #003437;
}


body footer {

    width: 100%;
    height: 210px;
    background-color: #003437;
    position: absolute;
    bottom: -300px;
    display: flex;
    justify-content: center;
    font-weight: 630;
    border-top: 1px solid rgb(255, 255, 255, 0.4);

}

footer #caixafooter {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    position: absolute;


}

#caixafooter #img1 img {
    width: 291px;
    height: 70px;
    display: flex;
    position: relative;
    margin-right: 70px;
    opacity: 0.9;
}

#caixafooter #img1 {
    display: flex;
    position: relative;
    align-items: center;

}

#caixafooter #img2 img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    opacity: 0.8;

}

#caixafooter #img3 img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    opacity: 0.8;

}

#caixafooter #caixaendereco p {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    font-size: 12px;
    width: 300px;
    color: whitesmoke;
    opacity: 0.6;
}

#caixafooter #caixaendereco {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

#caixafooter #caixacontato p {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    font-size: 12px;
    width: 200px;
    color: whitesmoke;
    opacity: 0.6;
}

#caixafooter #caixacontato {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}

#caixafooter #caixacontato p:nth-of-type(2n) {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    font-size: 12px;
    width: 200px;
    color: whitesmoke;
}

#caixafooter #caixacontato p:nth-of-type(3n) {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    font-size: 12px;
    width: 200px;
    color: whitesmoke;
}

body header {
width: 100%;
height: 71px;
display: flex;
position: sticky;
top: 0px;
justify-content: center;
background-color: rgb(255, 255, 255, 0.1);
margin-top: 0px;
border-bottom: 1px solid rgb(240, 248, 255, 0.5);
flex-wrap: wrap;

}

header div {
    margin-top: 508px;
    width: 812.13px;
    height: 45px;
    margin-bottom: 0px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

body header #anititulo1 img {
    color: white;
    position: relative;
    top: -490px;
    align-items: center;
    display: flex;
    width: 179px;
    height: 40px;
    justify-content: flex-start;
    left: -190px;


}



body header div #anititulo  {
    display: flex;
    color:  #003437;
    position: relative;
    top: -505px;
    padding: 10px;
    align-items: center;
    font-size: 22px;
    left: -290px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

header #socialgeral #socialtopo { 
    list-style: none;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 100px;
    background-color: rgb(0, 52, 55, 0.7);
    height: 45px;
    width: 130px;
    margin-top: 13px;
    padding-right: 5px;
    border-radius: 10px;
    padding-top: 3px;
}

header #socialgeral #socialtopo:hover {
    width: 170px;
    transition: 1s;
}

#socialgeral #socialtopo li a img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.8;
    filter:contrast(0%)
}
#socialgeral #socialtopo li a img:hover {
    transform: scale(1.2);
    opacity: 1.0;
    filter:contrast(100%)
}

#socialgeral {
    width: 180px;
    display: flex;
    position: relative;
    top: -505px;
    justify-content: center;
    align-items: center;
}

body header #menu1topo {
    width: 100%;
    height: 56px;
    background-color: #003437;
    display: flex;
    align-items: center;
    list-style: none;
    position:absolute;
    justify-content: center;
    top: -563px;
}

header #menu1topo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 10px;
}

header #menu1topo li {
    display: inline-flex;
    color: #e0e0f8;
    font-weight: 550;
    position: relative;
    left: -350px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;

}

header #menu1topo #linkvolga #bot3 {
    display: flex;
    color: rgba(33,33,33,1);
    font-weight: 900;
    position: absolute;
    font-size: 14px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    transition: 0.9s linear;

}

header #menu1topo #linkvolga {
    width: 150px;
    height: 31px;
    display: flex;
    position: absolute;
    left: 1140px;
    background-color: white;
    transition: 0.7s;

}


#menu1topo #linkvolga #bot3:hover {
    color: white;
    transition: 0.5s;
    
}

header #menu1topo #linkvolga:hover {
    width: 0px;
    height: 31px;
    transition: 0.5s linear;
    transition-property: background-color;
    transition-timing-function: linear;
    background-color: aliceblue;
    position: absolute;
    left: 1140px;
    border: 1px solid white;
    border-radius: 0px 10px 10px 0px;
}

footer #copryght {
    color: aliceblue;
    display:flex;
    position: absolute;
    top: 120px;
    left: 150px;
    width: 80%;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

#copryght a {
    color: aliceblue;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 25px;
    margin-top: 30px;
    opacity: 0.9;
    font-weight: 100;

}

hr {
    visibility: hidden;
}


#copryght #socialfooter {
    list-style: none;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(0, 52, 55, 0.7);
    height: 45px;
    width: 130px;
    margin-top: 13px;
    padding-right: 5px;
    border-radius: 10px;
    padding-top: 3px;
}


#copryght #socialfooter li a img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.8;
    filter:contrast(0%)
}
#copryght #socialfooter li a img:hover {
    transform: scale(1.2);
    opacity: 1.0;
    filter:contrast(100%)
}








